@model IEnumerable<Eshopper_website.Models.Blog>

@{
    ViewData["Title"] = "Index";
}

<div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-sm">
                <h3 class="mb-0">Blog</h3>
            </div>
        </div> <!--end::Row-->
    </div> <!--end::Container-->
</div>

<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-12">
                <!-- Default box -->
                <div class="card card-success card-outline">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-md"><h3 class="card-title">List Blog</h3></div>
                            <div class="col-md-auto">
                                <a asp-action="Create" id="btnAdd" role="button" class="btn btn-success"><i class="fa-light fa-add me-1"></i>Create New</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="tbl" class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BLG_Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BLG_Slug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BLG_Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BLG_Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BLG_AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BLG_PublishedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BLG_Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BLG_Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BLG_Slug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BLG_Content)
            </td>
                                            <td>
                                                <img src="~/images/blog/@item.BLG_Image" width="200px" alt="@item.BLG_Slug" />
                                            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BLG_AuthorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BLG_PublishedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BLG_Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
                                            <td class="text-nowrap">
                                                <a class="me-1 text-success" asp-action="Edit" asp-route-id="@item.BLG_ID"><i class="fa-regular fa-pen-to-square"></i></a> |
                                                <a class="me-1 text-primary" asp-action="Details" asp-route-id="@item.BLG_ID"><i class="fa-regular fa-circle-info"></i></a> |
                                                <a class="me-1 text-danger" asp-action="Delete" asp-route-id="@item.BLG_ID"><i class="fa-regular fa-trash-xmark"></i></a>
                                            </td>
        </tr>
}
    </tbody>
</table>
                        </div>
                    </div>
                </div>
            </div> <!-- /.card -->
        </div>
    </div> <!--end::Row-->
</div> <!--end::Container-->