@using Eshopper_website.Models.ViewModels
@using Eshopper_website.Utils.Extension

@model CartItemView
@{
	ViewData["Title"] = "Cart";
	var userInfo = Context.Session.Get<UserInfo>("userInfo");
}

<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li class="active">Shopping Cart</li>
			</ol>
		</div>
		<div class="table-responsive cart_info">
			<table class="table table-bordered table-striped table-hovered table-condensed">
				<thead>
					<tr class="cart_menu">
						<td class="image">Item</td>
						<td class="description">Name</td>
						<td class="price">Price</td>
						<td class="quantity">Quantity</td>
						<td class="total">Total</td>
						<td>Action</td>
					</tr>
				</thead>
				<tbody>
					@if(Model?.CartItems?.Count > 0)
					{
						@foreach(var item in Model.CartItems)
						{
							<tr>
								<td>
									<img src="~/images/product-details/@item.PRO_Image" width="100px" alt="@item.PRO_Name">
								</td>
								<td class="cart_description">
									<h4 class="mt-0"><a class="text-black" asp-action="Details" asp-controller="Product" asp-route-Id="@item?.PRO_ID">@item.PRO_Name</a></h4>
								</td>
								<td class="cart_price">
									<p>$@item?.PRO_Price.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("en-US"))</p>
								</td>
								<td class="cart_quantity">
									<div class="text-center">
										<a class="btn btn-success" asp-controller="Cart" asp-action="Increase" asp-route-id="@item?.PRO_ID"> + </a>
										<input class="w-25" type="text" name="quantity" value="@item?.PRO_Quantity" autocomplete="off" size="2">
										<a class="btn btn-success" asp-controller="Cart" asp-action="Decrease" asp-route-id="@item?.PRO_ID"> - </a>
										<a class="btn btn-danger" asp-controller="Cart" asp-action="Remove" asp-route-id="@item?.PRO_ID"> Remove </a>

									</div>
								</td>
								<td class="cart_total">
									<p class="cart_total_price">
										$@Model.CartItems.Where(x => x.PRO_ID == item?.PRO_ID).Sum(x => x.PRO_Quantity * x.PRO_Price).ToString()
									</p>
								</td>
								<td class="text-center">
									<a class="btn btn-danger" asp-action="Remove" asp-controller="Cart" asp-route-id="@item?.PRO_ID"><i class="fa fa-times"></i></a>
								</td>
							</tr>
						}
					}
					else
					{
						<tr>
							<td colspan="5">
								<h1>Your cart is empty!</h1>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</section> <!--/#cart_items-->

<section id="do_action">
	<div class="container">
		<div class="heading">
			<h3>What would you like to do next?</h3>
			<p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="chose_area">
					<ul class="user_option">
						<li>
							<input type="checkbox">
							<label>Use Coupon Code</label>
						</li>
						<li>
							<input type="checkbox">
							<label>Use Gift Voucher</label>
						</li>
						<li>
							<input type="checkbox">
							<label>Estimate Shipping & Taxes</label>
						</li>
					</ul>
					<ul class="user_info">
						<li class="single_field">
							<label>City</label>
							<select id="tinh" name="tinh" class="form-select" title="Choose City">
								<option value="0">City</option>
							</select>
						</li>
						<li class="single_field">
							<label>District</label>
							<select class="css_select" id="quan" name="quan" class="form-select" title="Choose District">
								<option value="0">District</option>
							</select>

						</li>
						<li class="single_field zip-field">
							<label>Ward</label>
							<select class="css_select" id="phuong" name="phuong" class="form-select" title="Choose Ward">
								<option value="0">Ward</option>
							</select>
						</li>
					</ul>
					@if (@Model?.ShippingPrice > 0)
					{
						<ul>
							<li>
								<p>Shipping Cost: @Model.ShippingPrice.ToString()</p>
								<a style="cursor:pointer" class="btn-delete-shipping">Remove Ship Cost</a>
							</li>
						</ul>
					}
					<ul>
						<li>
							<button type="button" class="btn btn-primary btn-add-shipping">Calculator Ship Cost</button>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="total_area">
					<ul>
						<li>Cart Sub Total <span>$@Model?.GrandTotal</span></li>
						<li>Eco Tax <span>$0</span></li>
						<li>Shipping Cost <span>$@Model?.ShippingPrice</span></li>
						<li>Total <span>$@Model?.GrandTotal</span></li>
					</ul>
					<div style="margin-left: 4rem">
                        <a asp-action="Clear" asp-controller="Cart" class="btn btn-danger">Clear</a>

                        @if (userInfo != null)
                        {
                            @if (@Model?.ShippingPrice > 0)
                            {
                                <a class="btn btn-success btn-checkout"
                                   onclick="return confirm('Confirmed to checkout?');"
								   asp-action="Checkout" asp-controller="Checkout">Checkout</a>

                            }
                            else
                            {
                                <a disabled class="btn btn-success btn-checkout"
                                   onclick="return confirm('Confirmed to checkout?');"
								   asp-action="Checkout" asp-controller="Checkout">Checkout</a>
                                <p><span class="text text-danger">Calculator shipping cost to checkout.</span></p>
                            }
                        }
					</div>
				</div>
			</div>
		</div>
	</div>
</section><!--/#do_action-->

@section Scripts{
	<script>
		//delete shipping cost
		$(".btn-apply-coupon").click(function () {
			var coupon_value = $(".coupon-value").val();
			//alert(coupon_value);
			$.ajax({
				type: "POST",
				url: "@Url.Action("GetCoupon", "Cart")",
				data: { coupon_value: coupon_value },
				success: function (result) {
					if (result.success) {

						Swal.fire(result.message);
						location.reload();
					} else {

						Swal.fire(result.message);
					}
				}

			});
		});
	</script>

	<script>
		$(document).ready(function () {
			$(".btn-add-shipping").click(function () {
				var tinh = $("#tinh").find('option:selected').text();
				var quan = $("#quan").find('option:selected').text();
				var phuong = $("#phuong").find('option:selected').text();

				if (tinh == '' || quan == '' || phuong == '') {
					Swal.fire("Please not empty this field.");
				} else {
					$.ajax({
						type: "POST",
						url: "@Url.Action("GetShipping", "Cart")",
						data: { tinh: tinh, quan: quan, phuong: phuong },

						success: function (result) {
							if (result) {
								location.reload();
							}
						}

					});
				}


			})
			//delete shipping cost
			$(".btn-delete-shipping").click(function () {
				$.ajax({
					type: "POST",
					url: "@Url.Action("RemoveShippingCookie", "Cart")", // Replace with your controller and action name
					success: function (result) {
						if (result.success) {
							// Handle successful removal (e.g., update UI or redirect)
							Swal.fire("Xóa thành công.");
							location.reload();
						} else {
							// Handle error (optional)
							Swal.fire("Xóa thất bại.");
						}
					},
					error: function (jqXHR, textStatus, errorThrown) {
						// Handle AJAX errors (optional)
						console.error("Error removing cookie:", errorThrown);
					}
				});
			});
			//Lấy tỉnh thành
			$.getJSON('https://esgoo.net/api-tinhthanh/1/0.htm', function (data_tinh) {
				if (data_tinh.error == 0) {
					$.each(data_tinh.data, function (key_tinh, val_tinh) {
						$("#tinh").append('<option value="' + val_tinh.id + '">' + val_tinh.full_name_en + '</option>');
					});
					$("#tinh").change(function (e) {
						var idtinh = $(this).val();
						//Lấy quận huyện
						$.getJSON('https://esgoo.net/api-tinhthanh/2/' + idtinh + '.htm', function (data_quan) {
							if (data_quan.error == 0) {
								$("#quan").html('<option value="0">District</option>');
								$("#phuong").html('<option value="0">Ward</option>');
								$.each(data_quan.data, function (key_quan, val_quan) {
									$("#quan").append('<option value="' + val_quan.id + '">' + val_quan.full_name_en + '</option>');
								});
								//Lấy phường xã
								$("#quan").change(function (e) {
									var idquan = $(this).val();
									$.getJSON('https://esgoo.net/api-tinhthanh/3/' + idquan + '.htm', function (data_phuong) {
										if (data_phuong.error == 0) {
											$("#phuong").html('<option value="0">Ward</option>');
											$.each(data_phuong.data, function (key_phuong, val_phuong) {
												$("#phuong").append('<option value="' + val_phuong.id + '">' + val_phuong.full_name_en + '</option>');
											});
										}
									});
								});
							}
						});
					});
				}
			});
		});
	</script>
}