@{
	ViewData["Title"] = "Blog";
	var blogs = ViewData["Blogs"] as List<Blog> ?? [];
}

<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="blog-post-area">
					<h2 class="title text-center">Latest From our Blog</h2>
					@foreach (var item in blogs)
					{
						<div class="single-blog-post">
							<h3>@item.BLG_Title</h3>
							<div class="post-meta">
								<ul>	
									<li><i class="fa fa-user"></i> @item.BLG_AuthorName</li>
									<li><i class="fa fa-clock-o"></i> @item.BLG_PublishedAt.ToString("HH:mm")</li>
									<li><i class="fa fa-calendar"></i> @item.BLG_PublishedAt.ToString("dd MMM yyyy")</li>
								</ul>
							</div>
							@if (!string.IsNullOrEmpty(item.BLG_Image))
							{
								<a asp-action="Details" asp-controller="Blog" asp-route-slug="@item.BLG_Slug">
									<img src="~/images/blog/@item.BLG_Image" alt="@item.BLG_Title">
								</a>
							}
							<p>@Html.Raw(item.BLG_Content?.Length > 300 ? item.BLG_Content.Substring(0, 300) + "..." : item.BLG_Content)</p>
							<a class="btn btn-primary" asp-action="Details" asp-controller="Blog" asp-route-slug="@item.BLG_Slug">Read More</a>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</section>