@model Eshopper_website.Models.Brand

@{
    ViewData["Title"] = "Brand - Delete";
    ViewData["Active"] = "Brand";
}

<h1 class="text-danger">Xóa Thương Hiệu</h1>

<h3>Bạn có chắc chắn muốn xóa không?</h3>
<div class="border p-4 rounded shadow-sm">
    <h4>Thông tin Thương Hiệu</h4>
    <hr />
    <div class="table-responsive">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.BRA_Name)</th>
                    <td>@Html.DisplayFor(model => model.BRA_Name)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.BRA_Description)</th>
                    <td>@Html.DisplayFor(model => model.BRA_Description)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.BRA_Slug)</th>
                    <td>@Html.DisplayFor(model => model.BRA_Slug)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.BRA_Status)</th>
                    <td>@Html.DisplayFor(model => model.BRA_Status)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.BRA_DisplayOrder)</th>
                    <td>@Html.DisplayFor(model => model.BRA_DisplayOrder)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.CreatedDate)</th>
                    <td>@Html.DisplayFor(model => model.CreatedDate)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.CreatedBy)</th>
                    <td>@Html.DisplayFor(model => model.CreatedBy)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.UpdatedDate)</th>
                    <td>@Html.DisplayFor(model => model.UpdatedDate)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.UpdatedBy)</th>
                    <td>@Html.DisplayFor(model => model.UpdatedBy)</td>
                </tr>
            </tbody>
        </table>
    </div>

    <form asp-action="Delete" class="mt-3">
        <input type="hidden" asp-for="BRA_ID" />
        <button type="submit" class="btn btn-danger">
            <i class="fas fa-trash"></i> Delete
        </button>
        <a asp-action="Index" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Back To List
        </a>
    </form>
</div>
