@model Eshopper_website.Models.Order

@{
    ViewData["Title"] = "Details";
    var orderDetails = ViewData["OrderDetails"] as List<OrderDetail> ?? [];
    var index = 1;
}

<!--begin::App Content Header-->
<div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-sm">
                <h3 class="mb-0">Orders</h3>
            </div>
        </div> <!--end::Row-->
    </div> <!--end::Container-->
</div>
<!--end::App Content Header-->
<!--begin::App Content-->
<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-12">
                <!-- Default box -->
                <div class="card card-success card-outline">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-md"><h3 class="card-title">Details Orders</h3></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hovered table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ORD_OrderCode)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ORD_Description)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ORD_Status)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ORD_ShippingCost)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ORD_CouponCode)
                                        </th>
                                        <th>
                                            Payment
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Member)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CreatedDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CreatedBy)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                     <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => modelItem.ORD_OrderCode)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => modelItem.ORD_Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => modelItem.ORD_Status)
                                        </td>
                                        <td>
                                            $@Html.DisplayFor(modelItem => modelItem.ORD_ShippingCost)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => modelItem.ORD_CouponCode)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => modelItem.ORD_PaymentMethod)
                                        </td>
                                        <td>
                                            @Model?.Member?.MEM_FirstName @Model?.Member?.MEM_LastName
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => modelItem.CreatedDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => modelItem.CreatedBy)
                                        </td>
                                     </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="8">Total: </td>
                                        <td>
                                            $@Html.DisplayFor(modelItem => modelItem.ORD_TotalPrice)
                                        </td>
                                    </tr>
                                    <tr>
                                        @* <td>Confirmed Order:</td> *@
                                        <td colspan="9">
                                            @* <form asp-action="UpdateOrder">
                                                <input type="hidden" asp-for="ORD_ID" />
                                                <div class="row align-items-center">
                                                    <div class="col-auto">
                                                        <label asp-for="ORD_Status"></label>
                                                    </div>
                                                    <div class="col">
                                                        @Html.DropDownListFor(
                                                                 model => model.ORD_Status, (IEnumerable<SelectListItem>)ViewData["orderStatus"],
                                                                 "Select Status",
                                                                 new { @class = "form-select select-update-order" }
                                                                 )
                                                    </div>
                                                    <div class="col-auto">
                                                        <input type="submit" value="Save" class="btn btn-primary" />
                                                    </div>
                                                </div>
                                            </form> *@
                                            <input type="hidden" asp-for="ORD_ID"/>
                                            @Html.DropDownListFor(
                                                     model => model.ORD_Status, (IEnumerable<SelectListItem>)ViewData["orderStatus"],
                                                     "Select Status",
                                                     new { @class = "form-select select-update-order" }
                                                     )
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div> <!-- /.card-body -->
                    <div class="card-body">
                        <h4>List Order Details</h4>
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>No. </th> 
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Created Date</th>
                                        <th>Created By</th>
                                    </tr>
                                </thead>
                                @foreach (var item in orderDetails)
                                {
                                    <tr>
                                        <td>@index</td>
                                        <td><img src="~/images/product-details/@item?.Product?.PRO_Image" width="150px" alt="@item?.Product?.PRO_Name" /></td>
                                        <td>@item.Product.PRO_Name</td>
                                        <td>@item?.Product?.PRO_Price</td>
                                        <td>@item?.ORDE_Quantity</td>
                                        <td>@item?.CreatedDate</td>
                                        <td>@item?.CreatedBy</td>
                                    </tr>
                                    index++;
                                }
                            </table>
                        </div>
                    </div>
                </div> <!-- /.card -->
            </div>
        </div> <!--end::Row-->
    </div> <!--end::Container-->
</div>
<!--end::App Content-->
@section Scripts {
    <script>
        new DataTable('#detail_order', {
            layout: {
                topStart: {
                    buttons: ['pdf','print']
                }
            }
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.select-update-order').change(function () {
                var status = $(this).val(); //status = 1
                var id = $('#ORD_ID').val(); //
                alert(status);
                alert(id);

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateOrder", "Order")",
                    data: { statusEnum: status, id: id }, // Send data to the server

                    success: function (result) {
                        // Handle successful update
                        if (result.success) {

                            Swal.fire("Cập nhật đơn hàng thành công.");
                        } else {

                            Swal.fire("Cập nhật đơn hàng thất bại." + result.message);

                        }
                    }

                });
            });
        });
    </script>
}