@using Eshopper_website.Utils.Enum.Order
@model IEnumerable<Eshopper_website.Models.Order>

@{
    ViewData["Title"] = "Order";
    var culture = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}

<!--begin::App Content Header-->
<div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-sm">
                <h3 class="mb-0">Orders</h3>
            </div>
        </div> <!--end::Row-->
    </div> <!--end::Container-->
</div>
<!--end::App Content Header-->
<!--begin::App Content-->
<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-12">
                <!-- Default box -->
                <div class="card card-success card-outline">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-md"><h3 class="card-title">List Orders</h3></div>
                            <div class="col-md-auto">
                                <a class="btn btn-success" asp-action="CreateGHNOrder" asp-controller="Order" asp-area="Admin">Add new GHN order</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="tbl" class="table table-hovered table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ORD_OrderCode)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ORD_Status)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ORD_ShippingCost)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ORD_CouponCode)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ORD_PaymentMethod)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ORD_TotalPrice)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Member)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CreatedDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CreatedBy)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ORD_IsGHN)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ORD_OrderCode)
                                            </td>
                                            <td>
                                                <span class="badge @(item.ORD_Status == OrderStatusEnum.Confirmed ? "bg-success" :
                                                               item.ORD_Status == OrderStatusEnum.Cancelled ? "bg-danger" :
                                                               item.ORD_Status == OrderStatusEnum.Pending ? "bg-primary" :
                                                               item.ORD_Status == OrderStatusEnum.AwaitingShipment ? "bg-warning" : "bg-secondary")">
                                                    @item.ORD_Status
                                                </span>
                                            </td>
                                            <td>
                                                @item.ORD_ShippingCost.ToString("C0", culture)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ORD_CouponCode)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ORD_PaymentMethod)
                                            </td>
                                            <td>
                                                @item.ORD_TotalPrice.ToString("C0", culture)
                                            </td>
                                            <td>
                                                @item?.Member?.MEM_FirstName @item?.Member?.MEM_LastName
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreatedDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreatedBy)
                                            </td>
                                            <td>@item?.ORD_IsGHN</td>
                                            <td>
                                                <a class="text-primary" asp-action="Details" asp-route-id="@item?.ORD_ID"><i class="fa-regular fa-circle-info"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div> <!-- /.card-body -->
                </div> <!-- /.card -->
            </div>
        </div> <!--end::Row-->
    </div> <!--end::Container-->
</div>
<!--end::App Content-->


