@model IEnumerable<Eshopper_website.Models.Coupon>

@{
    ViewData["Title"] = "Coupon";
}

<!--begin::App Content Header-->
<div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-sm">
                <h3 class="mb-0">Category</h3>
            </div>
        </div> <!--end::Row-->
    </div> <!--end::Container-->
</div>
<!--end::App Content Header-->
<!--begin::App Content-->
<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-12">
                <!-- Default box -->
                <div class="card card-success card-outline">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-md">
                                <div class="searchBox">
                                    <input class="searchInput" type="text" name="" placeholder="Search here">
                                    <button class="searchButton" href="#">
                                    </button>
                                </div>
                            </div>
                         
                            <div class="col-md-auto">
                                <a asp-action="Create" id="btnAdd" role="button" class="btn btn-success"><i class="fa-light fa-add me-1"></i>Add new</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="tbl" class="table table-hover table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.COUP_Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.COUP_Description)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.COUP_Status)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.COUP_Quantity)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.COUP_DateStart)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.COUP_DateExpire)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model) {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.COUP_Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.COUP_Description)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.COUP_Status)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.COUP_Quantity)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.COUP_DateStart)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.COUP_DateExpire)
                                                    </td>
                                                    <td class="text-nowrap">
                                                        <a class="me-1 text-success" asp-action="Edit" asp-route-id="@item.COUP_ID"><i class="fa-regular fa-pen-to-square"></i></a> |
                                                        <a class="me-1 text-primary" asp-action="Details" asp-route-id="@item.COUP_ID"><i class="fa-regular fa-circle-info"></i></a> |
                                                        <a class="me-1 text-danger" asp-action="Delete" asp-route-id="@item.COUP_ID"><i class="fa-regular fa-trash-xmark"></i></a>
                                                    </td>
                                                </tr>
                                        }
                                    </tbody>
                                
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
